@model DoktorModel
@{
    ViewData["Title"] = "ServisCagir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ServisCagir</h1>
<div class="container">
    <p>@Model.DoktorAdi</p>
    <p>@Model.Yeri</p>
    <p>@Model.DoktorId</p>
    <p>Toplam Sayı =  @ViewBag.ToplamSayi</p>

</div>

