@model WebAppCore4.Models.VeritabaniHataModel
@{
    ViewData["Title"] = "VeritabaniHata";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>HATA</h1>
<h2>@Model.HataTuru</h2>
<article>
    <p>@Model.Mesaj</p>
</article>

